.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #feedcf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
    color: transparent; /* Initially transparent */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    color: #40E0D0; /* Turquoise color */
  }
}

.content h1 {
  animation: slideIn 0.5s ease-out forwards;
}

